@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
}
header{
    background-color: #fff4e7;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
}
.nav-logo h3{
    font-size: 25px;
}
.nav-menu{
   
    
}
.nav-menu ul{
    list-style: none;
    display: flex;
    
}
.nav-menu ul li{
   
}
.nav-menu ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
    line-height: 50px;
    
    
}

/* main section starts here */
.banner-tittle{
   padding-top: 50px;
}
.banner-tittle h1{
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-size: 35px;
}
.banner-tittle p{
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.exp-btn{
    margin: auto;
    max-width: fit-content;
    margin-top: 50px;
}
.exp-btn a{
    text-decoration: none;
    padding: 15px 15px;
    background-color: #ff900e;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.bannar-img{
    max-width: 900px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* feature-section starts here */

.feature-section{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    padding:50px 0px;
    
}
.feature-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 66%;
    min-height: 100%;
    gap: 15px;
    margin-left: 150px;
   
}
.feature-right{
    margin-top: 100px;
    max-width: 70%;
    margin-left: 20px;
    
}
.feature-right h5{
    margin:0px 0px 0px 0px ;
    font-size: 35px;
    font-weight: 400;
    color: #727272;
    line-height: 50px;
}
.feature-right span{
    color: black;
    font-weight: 700; 
}
.feature-right h2{
    margin: 0;
    line-height: 50px;
    font-size: 30px;
    color: #ff900e;
}
.feature-right p{
    
    margin: 0;
}
.feature-btn{
    margin: 0px;
    padding-top: 35px;
}
.feature-btn a{

}









@media screen and (max-width:700px) {
    .nav-section{
        flex-direction: column;
    }    
    .nav-logo{
        margin: auto;
    }
    .nav-menu{
        margin: auto;
    }
    .bannar-img img{
        max-width: 100%;
    }
    .feature-section{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        padding:50px 0px; 
    }
    .feature-left{
        margin: auto;
        max-width: 100%;
    }
    .feature-right{
        margin: auto;
        max-width: 70%;
    }

}
