@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
}
header{
    background-color: #fff4e7;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
}
.nav-logo h3{
    font-size: 25px;
}
.nav-menu{
   
    
}
.nav-menu ul{
    list-style: none;
    display: flex;
    
}
.nav-menu ul li{
   
}
.nav-menu ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
    line-height: 50px;
    
    
}

/* main section starts here */
.banner-tittle{
   padding-top: 50px;
}
.banner-tittle h1{
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-size: 35px;
}
.banner-tittle p{
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.exp-btn{
    margin: auto;
    max-width: fit-content;
    margin-top: 50px;
}
.exp-btn a{
    text-decoration: none;
    padding: 15px 15px;
    background-color: #ff900e;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.bannar-img{
    max-width:100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* feature-section starts here */

.feature-section{
    background-color: white;
    display: flex;
    padding:50px 0px;
    
}
.feature-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 66%;
    min-height: 100%;
    gap: 15px;
    margin-left: 250px;
   
}
.feature-right{
    margin-top: 100px;
    max-width: 38%;
    margin-left: 50px;
    
}
.feature-right h5{
    margin:0px 0px 0px 0px ;
    font-size: 35px;
    font-weight: 400;
    color: #727272;
    line-height: 50px;
}
.feature-right span{
    color: black;
    font-weight: 700; 
}
.feature-right h2{
    margin: 0;
    line-height: 50px;
    font-size: 30px;
    color: #ff900e;
}
.feature-right p{
    
    margin: 0;
}
.feature-btn{
    margin: 0px;
    padding-top: 35px;
}
.feature-btn a{

}
/* feature-exprience */

.feature-exprience{
    display: flex;
}
.feature-exprience-left{
    max-width: 50%;
}
.exprience-tittle{
    max-width: 90%;
}
.exprience-tittle h3{
    font-size: 45px;
    max-width: 80%;
    margin-left: 20px;
    margin-bottom: 0;
}
.exprience-tittle p{
    color: #727272;
    margin-top: 20px;
    text-align: justify;
}
.exprience-list{
    max-width: 90%;
    box-sizing: border-box;
    box-shadow: #dfdfdf52 0px 0px 20px .3px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
}
.exprience-list h5{
    font-size: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 0px;
}
.exprience-list p{
    color: #727272;
    text-align: justify;
    margin-left: 20px;
}
.feature-exprience-right{
    max-width: 50%;
}
.exprience-btn{
    text-align: center;
    padding: 30px 60px;
    background-color: #ff900e;
    max-width: 160px;
    border-radius: 5px;
    margin-left: 570px;
    margin-top: -150px;
    position: absolute;

}
.exprience-btn a{
    text-decoration: none;
    color: #ffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
 }
 .exprience-btn a span{
    font-size: 20px;
    font-weight: 400;
 }
  








@media screen and (max-width:700px) {
    .nav-section{
        flex-direction: column;
    }    
    .nav-logo{
        margin: auto;
    }
    .nav-menu{
        margin: auto;
    }
    .bannar-img img{
        max-width: 100%;
    }
    .feature-section{
        flex-direction: column;
        padding:50px 0px; 
    }
    .feature-left{
        margin: auto;
        max-width: 100%;
    }
    .feature-right{
        margin: auto;
        max-width: 70%;
    }
    .feature-exprience{
        flex-direction: column-reverse;
        justify-content: center;
       
    }

    .feature-exprience-right{
        max-width: 100%;
    }
    .feature-exprience-right img{
        width: 100%;
    }
    .feature-exprience-left{
        max-width: 100%;
    }
    .exprience-tittle {
        max-width: 90%;
        margin: auto;
    }
    .exprience-list {
        max-width: 90%;
        margin: auto;
}
}